body{
    background-color: rgb(207, 221, 231);
}
.cabecalho{
	background: rgb(195, 223, 234);
	padding: 30px  ;
}




.secao2{
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu{

    text-align: right;
}

.menu li {
	display: inline;
	margin:  10px;
}

.menu a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: bl;
 }
.menu a:hover{
        color: rgb(238, 177, 186);
        text-decoration: underline;
    }

