body{
    background-color: rgb(180, 173, 173);
}
.cabecalho{
	background: green;
	padding: 30px  ;
}

.titulo-section1 {
    font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 30px;
    margin-bottom: 30px;
	color: black;
    font-weight: bold;
    
}
.texto-basal{
    font-size: 20px;
    text-align: center;
}
.titulo-section2{
    font-size: 30px;
	text-transform: uppercase;
	text-align: center;
	margin-top: 30px;
    margin-bottom: 30px;
	color: white;
    font-weight: bold;

}
.secao2{
    display: flex;
    justify-content: center;
    text-align: center;
}

.menu{

    text-align: right;
}

.menu li {
	display: inline;
	margin:  10px;
}

.menu a {
    text-transform: uppercase;
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-decoration: none;
    color: white;
 }
.menu a:hover{
        color: yellow;
        text-decoration: underline;
    }

